<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <!-- iOS meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <link rel="stylesheet" type="text/css" href="css/papaya.css?build=1449" />
        <script type="text/javascript" src="js/papaya.js?build=1449"></script>
        <title>Caranx Medical's technical challenge</title>
        
        
        <script type="text/javascript">
            $(document).ready(function () {
                var labelList = document.getElementById('labelList');
                labelList.options[0] = new Option('--Select--', '');
                labelList.options[1] = new Option('Zone1', 'Zone1');
                labelList.options[2] = new Option('Zone2', 'Zone2');
            });
        </script>
        
        <script type="text/javascript">
            var params = [];
            params["contextManager"] = new ctxManager();
        </script>
    </head>
    <body>
        <div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log Out"/>
            </form>
            <a id="downloadAnchorElem" style="display:none"></a>
            <br>
        </div>
        <div>
            <form>
                <p>Labels : <br>
                    <select class="form-control"  id='labelList' name='annotationLabels' onClick="updateAnnotationLabel()">
                    </select>	
                </p>

            </form>
        </div>

        <div style="width:1000px">
            <div class="papaya" data-params="params"></div>
        </div>
        
    </body>
</html>