<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <!-- iOS meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <link rel="stylesheet" type="text/css" href="css/papaya.css?build=1449" />
        <script type="text/javascript" src="js/papaya.js?build=1449"></script>
        <title>Caranx Medical's technical challenge</title>
        <script type="text/javascript">
            var params = [];
            params["contextManager"] = new ctxManager();
        </script>
    </head>
    <body>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out"/>
        </form>
        <a id="downloadAnchorElem" style="display:none"></a>
        <div class="papaya" data-params="params"></div>
    </body>
</html>